
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
h1 {
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color:#366f78;
    src: url(https://fonts.gstatic.com/s/dongle/v6/sJoF3Ltdjt6VPkqmuORJah_L13DDVjZ4Uvh5iloqlbq1Bjz9dg.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  }
body {
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    font-size:xx-large;
    color: #79abb3;
    src: url(https://fonts.gstatic.com/s/dongle/v6/sJoF3Ltdjt6VPkqmuORJah_L13DDVjZ4Uvh5iloqlbq1Bjz9dg.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  }